body {
    background-color: #171717;
    font-family: 'Roboto', sans-serif;
}


* {
    box-sizing: content-box;
}

.container {
    max-width: 1460px;
    padding: 0 30px;
    margin: 37px auto;

}

.container-fullwidth {
    max-width: 100%;
    padding: 0;
}

.btn-send {
    display: flex;
    justify-content: center;
    /* X */
    align-items: center;
    /* Y */
    gap: 8px;
    min-width: 218px;
    min-height: 50px;
    border: 2px solid;
    color: #E4B564;
    font-size: 18px;
    text-decoration: none;
}



.page-title {
    font-size: 50px;
    font-weight: 700;
    color: #fff;
}


.page-text {
    font-weight: 700;
    font-size: 20px;
    color: #fff;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-1 {
    margin-bottom: 80px;
}

.grid {
    display: grid;
}

.box-1 .grid-1 {
    grid-template-columns: repeat(3, 32%);
    grid-gap: 25px;
    justify-content: space-between;
}

.box-1 .grid-2 {
    grid-template-columns: repeat(2, 49%);
    grid-gap: 25px;
    margin-top: 25px;
    justify-content: space-between;
}


.box-1 .grid-item {
    height: 468px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    color: #ffff;
    font-size: 20px;
    font-weight: 700;
    display: grid;
}



.page-title {
    margin: 40px 0;
    text-align: left;
}



.box-items-1 {

    text-align: center;
    color: #ffff;
    font-size: 20px;
    font-weight: 700;

}

.box-2 {
    text-align: left;
    margin-bottom: 80px;
}

.box-2 .grid-item {
    padding: 44px 48px;
}

.box-2 .item-title {
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    display: block;
    margin-bottom: 6px;
}

.box-2 .item-type {
    font-weight: 700px;
    font-size: 20px;
    color: #fff;
}

.box-2 .item-5 .item-title {
    color: #000000;

}

.grid-3 {
    display: grid;
    grid-template-areas:
        "item-1 item-2 item-3"
        "item-1 item-2 item-3"
        "item-1 item-2 item-6"
        "item-4 item-2 item-6"
        "item-4 item-5 item-6"
        "item-4 item-5 item-7"
        "item-4 item-5 item-7";
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: repeat(7, 100px);
    gap: 30px;


}



.item-1 {
    grid-area: item-1;

}

.item-2 {
    grid-area: item-2;
}

.item-3 {
    grid-area: item-3;
}


.item-4 {
    grid-area: item-4;
}

.item-5 {
    grid-area: item-5;
}

.item-6 {
    grid-area: item-6;
}

.item-7 {
    grid-area: item-7;
}


.box-3 .box-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-3 {
    margin-top: 40px;
    margin-bottom: 239px;
}



.grid-4 {
    display: grid;
    grid-template-areas:
        "item-item-1 item-item-2 item-item-3"
        "item-item-4 item-item-5 item-item-6";
    grid-template-columns: repeat(3, 487px);
    grid-template-rows: repeat(2, 391px);

}

.box-3 .grid-item {

    justify-content: center;
    align-items: center;
    padding: 10px;
    display: grid;
}

.box-3 .item-item-2 {
    display: flex;
}

.item-item-1 {
    grid-area: item-item-1;
}

.item-item-2 {
    grid-area: item-item-2;
}

.item-item-3 {
    grid-area: item-item-3;
}

.item-item-4 {
    grid-area: item-item-4;
}

.item-item-5 {
    grid-area: item-item-5;
}

.item-item-6 {
    grid-area: item-item-6;
}